<div class="row full-height">
    <div class='col-lg-12'>
      <div class='btn btn-success pull-right' ng-click='addDraft(post)'>Draft Post </div>
      <div class='btn btn-success pull-right' ng-click='addPost(post)'>Publish Post</div>
      <div class='form-group'>
        <input type='text' placeholder='Title' ng-model='post.title' name='title' class='form-control'>
      </div>
    </div>
    <div class="col-lg-12 full-height">
        <textarea class="col-md-6 full-height" id="pad" ng-model='post.body' placeholder='Write your blog post here...'></textarea>
        <div class="col-md-6 full-height" id="markdown">
          <div btf-markdown='post.body'></div>
        </div>
    </div>
</div>