<div class="row full-height">
    <div class='col-lg-12'>
          <div class='col-lg-1'> 
            <div class='btn btn-success pull-right' ng-click='addDraft(post)'>Draft Post </div>
          </div>
          <div class='col-lg-1'> 
            <div class='btn btn-success pull-right' ng-click='addPost(post)'>Publish Post</div>
          </div>  
     </div> 
     <div class="col-lg-12">
        <input type='text' placeholder='Title' ng-model='post.title' name='title' class='form-control'>
    </div> 
   
    <div class="col-lg-12 full-height">
        <textarea class="col-md-6 full-height" id="pad" ng-model='post.body' placeholder='Write your blog post here...'></textarea>
        
    </div>
  </div>
</div>
