<div class='row full-height'>
    <!-- Sidebar -->
    <div class='col-sm-4'>
        <h3>Draft posts</h3>
        <ul class="list-group">
            <li ng-show="!posts.length">No posts are in draft</li>

            <li ng-repeat='post in posts track by $index'
                class="list-group-item"
                ng-class="{'active': (activePost === post)}"
                ng-click='setActive(post)'>

                <h4 class="list-group-item-heading">{{post.title}}</h4>
                <p class="list-group-item-text">{{post.body.substr(0, 140)}}</p>
                <div><a ui-sref="editPost/1">New Post</a></div>
            </li>
        </ul>
    </div>
    <!-- /Sidebar -->

    <!-- Page Content -->
    <div class='col-sm-8 full-height'>
        <h2>{{activePost.title}}</h2>
        <div btf-markdown='activePost.body'></div>
    </div>
</div>